.margin{
    margin-left: 50px;
    font-weight: bold;
}

ion-card{
    box-shadow: none !important;
    border-bottom: 1px solid lightgrey;
}

.normal{
    font-style: normal;
    font-weight: normal;

}